* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1360px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }

  &--wide {
    width: 100%;
    max-width: 1600px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
html {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.no-scroll {
    overflow: hidden;
  }
}
img {
  max-width: 100%;
}
a,
a:hover {
  text-decoration: none;
}
main {
  flex-grow: 1;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.hero {
  @include font-props(700, 38px, 100%, 0%);
}
h2 {
  @include font-props(700, 30px, 100%, 0%);
  color: $main-color;
}
h3 {
  @include font-props(700, 22px, 100%, 0%);
  color: $main-color;
}
h4 {
  @include font-props(700, 16px, 100%, 0%);
  color: $main-color;
}
.caps {
  @include font-props(700, 14px, 100%, 1px);
  text-transform: uppercase;
  color: $main-color;
}
p {
  @include font-props(400, 16px, 26px, 0%);
  color: $black;
}
.p_small {
  @include font-props(400, 14px, 22px, 0%);
}
.text-gradient {
  background: $gradient-text;
  color: transparent;
  background-clip: text;
}
.center {
  text-align: center;
}
.between {
  justify-content: space-between;
}
.uppercase {
  text-transform: uppercase;
}
.transition {
  transition: all 0.3s linear;
}
.gap {
  gap: 30px;
}
.gradient {
  background: $gradient-supersoft;
  border-radius: 0 0 12px 12px;

  &::before {
    content: "";
    display: block;
    width: calc(100% - (20px * 2));
    height: 10px;
    border-radius: 12px;
    background-color: #cacadb;
    position: absolute;
    left: 20px;
    bottom: -5px;
    z-index: -1;
  }
  &::after {
    content: "";
    display: block;
    width: calc(100% - (40px * 2));
    height: 10px;
    border-radius: 12px;
    background-color: #e7e7f2;
    position: absolute;
    left: 40px;
    bottom: -10px;
    z-index: -2;
  }
}
.hover {
  color: $active-color;
  &:hover {
    color: $accent-color;
  }
}
.hover_svg {
  &:hover + svg path {
    stroke: $accent-color;
  }
}
.btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 12px;
  border: none;
  @include font-props(700, 16px, 100%, 0%);
  color: $white;
  background-color: $active-color;
  box-shadow: 0px 0px 20px 0px #24a3ff80;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    background-color: $active-color-hover;
  }
  &:active {
    background-color: $active-color-active;
    transform: scale(0.95);
  }
}
.focus {
  padding: 15px 0 15px 15px;
  border-radius: 8px;
  border: transparent;
  background-color: $white;
  outline: none;

  &::placeholder {
    @include font-props(400, 16px, 26px, 0%);
    color: $text-color;
  }
  &:focus {
    border: 1px solid $active-color;
  }
}
