.footer {
  background-color: $background-color;

  &__line {
    width: 100%;
    padding: 1px 0;
    background-color: $separator-color;
  }
  &__content {
    padding: 30px 0;

    @media (min-width: $tablet) {
      padding: 30px 125px;
    }
    @media (min-width: $tabletHD) {
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 0;
    }
  }
  &__content--information {
    width: 100%;
  }
  &__content--address {
    gap: 10px;
    margin-bottom: 21px;
    align-items: center;

    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 26px;
    }
  }
  &__content--street-address {
    line-height: 100%;
    color: $main-color;
  }
  &__link {
    @include font-props(700, 12px, 100%, 1px);

    @media (min-width: $tablet) {
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 2px;
        left: -16px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $text-color;
        margin-right: 10px;
      }
    }
  }
  &__contact {
    gap: 10px;

    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 26px;
    }
  }
  &__link-fb {
    max-width: 38px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;

    &:hover svg path {
      fill: $accent-color;
    }

    @media (min-width: $tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__link--tel {
    @include font-props(700, 16px, 100%, 0%);
    color: $main-color;
    height: fit-content;

    @media (min-width: $tablet) {
      padding-top: 11px;
      white-space: nowrap;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 16px;
        left: -16px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $text-color;
        margin-right: 10px;
      }
    }
  }
  &__link--email {
    @include font-props(700, 16px, 100%, 0%);
    height: fit-content;

    @media (min-width: $tablet) {
      padding-top: 11px;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 16px;
        left: -16px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $text-color;
        margin-right: 10px;
      }
    }
  }
  &__copyright-text {
    line-height: 100%;
    color: $text-color;
    white-space: nowrap;
  }
}
