$main-color: #323264;
$main-color-alt: #46466e;
$main-color-soft: #686887;
$accent-color: #f0145a;
$active-color: #24a3ff;
$active-color-hover: #0085ff;
$active-color-active: #006ccf;
$background-color: #f5f5fa;
$background-color-alt: #ededf7;
$text-color: #b3b3ba;
$separator-color: #e6e6f0;
$gradient: linear-gradient (#323264, #323264, #a54b5f);
$gradient-soft: linear-gradient (#323264, #323264, #7a425e);
$gradient-red: linear-gradient (#f0145a, #693264);
$gradient-supersoft: linear-gradient (#323264, #323264, #643e72);
$gradient-text: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
$black: #000000;
$white: #ffffff;
$tablet: 768px;
$tabletHD: 1024px;
$decktop: 1440px;
$decktopHD: 1920px;
